&--meta__holder {
  .mod--content-slot__tags {
    li.tag-pill {
      font: $default-sans-serif;
      font-size: 16px;
      text-transform: uppercase;
      padding: 4px 12px;
      display: inline-block;
      margin: 0 10px 10px 0;
      background: $colors--black;
      border: 1px solid $colors--black;
      color: $colors--white;
      vertical-align: baseline;
      transition: all 0.3s ease;
      cursor: pointer;
      // z-index: 20;
      // -webkit-text-fill-color: $colors--black; /* Will override color (regardless of order) */
      // -webkit-text-stroke-width: 1px;
      // -webkit-text-stroke-color: $colors--white;

      &:hover,
      &:target,
      &.active {
        background: $colors--white;
        color: $colors--black;
      }
      // border-radius: 10px;
    }
  }
}
