$default-sans-serif: normal 400 1.6rem/1.6 'Helvetica Neue', Helvetica, sans-serif;
$default-serif: normal 1.6rem/1.6 'Suisse Works', Times New Roman, serif;
$default-monospaced: normal 1.6rem/1.6 'MMono', Courier New, Courier, monospaced;
