@import 'line-awesome.scss';

@font-face {
  font-family: 'Suisse Intl';
  src: url('../../fonts/suisse/intl/bold/suissebpintl-bold-webfont.eot');
  src:
    url('../../fonts/suisse/intl/bold/suissebpintl-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/suisse/intl/bold/suissebpintl-bold-webfont.woff2') format('woff2'),
    url('../../fonts/suisse/intl/bold/suissebpintl-bold-webfont.woff') format('woff'),
    url('../../fonts/suisse/intl/bold/suissebpintl-bold-webfont.ttf') format('truetype'),
    url('../../fonts/suisse/intl/bold/suissebpintl-bold-webfont.svg#svgFontName') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('../../fonts/suisse/intl/regular/suissebpintl-regular-webfont.eot');
  src:
    url('../../fonts/suisse/intl/regular/suissebpintl-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/suisse/intl/regular/suissebpintl-regular-webfont.woff2') format('woff2'),
    url('../../fonts/suisse/intl/regular/suissebpintl-regular-webfont.woff') format('woff'),
    url('../../fonts/suisse/intl/regular/suissebpintl-regular-webfont.ttf') format('truetype'),
    url('../../fonts/suisse/intl/regular/suissebpintl-regular-webfont.svg#svgFontName') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('../../fonts/suisse/intl/light/suissebpintl-light-webfont.eot');
  src:
    url('../../fonts/suisse/intl/light/suissebpintl-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/suisse/intl/light/suissebpintl-light-webfont.woff2') format('woff2'),
    url('../../fonts/suisse/intl/light/suissebpintl-light-webfont.woff') format('woff'),
    url('../../fonts/suisse/intl/light/suissebpintl-light-webfont.ttf') format('truetype'),
    url('../../fonts/suisse/intl/light/suissebpintl-light-webfont.svg#svgFontName') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Works';
  src: url('../../fonts/suisse/works/bold/suisseworks-bold-webfont.eot');
  src:
    url('../../fonts/suisse/works/bold/suisseworks-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/suisse/works/bold/suisseworks-bold-webfont.woff2') format('woff2'),
    url('../../fonts/suisse/works/bold/suisseworks-bold-webfont.woff') format('woff'),
    url('../../fonts/suisse/works/bold/suisseworks-bold-webfont.ttf') format('truetype'),
    url('../../fonts/suisse/works/bold/suisseworks-bold-webfont.svg#svgFontName') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Works';
  src: url('../../fonts/suisse/works/book/suisseworks-book-webfont.eot');
  src:
    url('../../fonts/suisse/works/book/suisseworks-book-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/suisse/works/book/suisseworks-book-webfont.woff2') format('woff2'),
    url('../../fonts/suisse/works/book/suisseworks-book-webfont.woff') format('woff'),
    url('../../fonts/suisse/works/book/suisseworks-book-webfont.ttf') format('truetype'),
    url('../../fonts/suisse/works/book/suisseworks-book-webfont.svg#svgFontName') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Works';
  src: url('../../fonts/suisse/works/book-italic/suisseworks-bookitalic-webfont.eot');
  src:
    url('../../fonts/suisse/works/book-italic/suisseworks-bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/suisse/works/book-italic/suisseworks-bookitalic-webfont.woff2') format('woff2'),
    url('../../fonts/suisse/works/book-italic/suisseworks-bookitalic-webfont.woff') format('woff'),
    url('../../fonts/suisse/works/book-italic/suisseworks-bookitalic-webfont.ttf') format('truetype'),
    url('../../fonts/suisse/works/book-italic/suisseworks-bookitalic-webfont.svg#svgFontName') format('svg');
  font-weight: 400;
  font-style: italic;
}


// @font-face {
//   font-family: 'Press';
//   src: url('../../fonts/pressura/bold/gt-pressura-bold-web-webfont.eot');
//   src:
//     url('../../fonts/pressura/bold/gt-pressura-bold-web-webfont.eot?#iefix') format('embedded-opentype'),
//     url('../../fonts/pressura/bold/gt-pressura-bold-web-webfont.woff') format('woff'),
//     url('../../fonts/pressura/bold/gt-pressura-bold-web-webfont.ttf') format('truetype'),
//     url('../../fonts/pressura/bold/gt-pressura-bold-web-webfont.svg#svgFontName') format('svg');
//   font-weight: 600;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Press';
//   src: url('../../fonts/pressura/bold-italic/gt-pressura-bold-italic-web-webfont.eot');
//   src:
//     url('../../fonts/pressura/bold-italic/gt-pressura-bold-italic-web-webfont.eot?#iefix') format('embedded-opentype'),
//     url('../../fonts/pressura/bold-italic/gt-pressura-bold-italic-web-webfont.woff') format('woff'),
//     url('../../fonts/pressura/bold-italic/gt-pressura-bold-italic-web-webfont.ttf') format('truetype'),
//     url('../../fonts/pressura/bold-italic/gt-pressura-bold-italic-web-webfont.svg#svgFontName') format('svg');
//   font-weight: 600;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'Press';
//   src: url('../../fonts/pressura/regular/gt-pressura-regular-web-webfont.eot');
//   src:
//     url('../../fonts/pressura/regular/gt-pressura-regular-web-webfont.eot?#iefix') format('embedded-opentype'),
//     url('../../fonts/pressura/regular/gt-pressura-regular-web-webfont.woff') format('woff'),
//     url('../../fonts/pressura/regular/gt-pressura-regular-web-webfont.ttf') format('truetype'),
//     url('../../fonts/pressura/regular/gt-pressura-regular-web-webfont.svg#svgFontName') format('svg');
//   font-weight: 400;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Press';
//   src: url('../../fonts/pressura/regular-italic/gt-pressura-regular-italic-web-webfont.eot');
//   src:
//     url('../../fonts/pressura/regular-italic/gt-pressura-regular-italic-web-webfont.eot?#iefix') format('embedded-opentype'),
//     url('../../fonts/pressura/regular-italic/gt-pressura-regular-italic-web-webfont.woff') format('woff'),
//     url('../../fonts/pressura/regular-italic/gt-pressura-regular-italic-web-webfont.ttf') format('truetype'),
//     url('../../fonts/pressura/regular-italic/gt-pressura-regular-italic-web-webfont.svg#svgFontName') format('svg');
//   font-weight: 400;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'Press';
//   src: url('../../fonts/pressura/light/gt-pressura-light-web-webfont.eot');
//   src:
//     url('../../fonts/pressura/light/gt-pressura-light-web-webfont.eot?#iefix') format('embedded-opentype'),
//     url('../../fonts/pressura/light/gt-pressura-light-web-webfont.woff') format('woff'),
//     url('../../fonts/pressura/light/gt-pressura-light-web-webfont.ttf') format('truetype'),
//     url('../../fonts/pressura/light/gt-pressura-light-web-webfont.svg#svgFontName') format('svg');
//   font-weight: 200;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Press';
//   src: url('../../fonts/pressura/light-italic/gt-pressura-light-italic-web-webfont.eot');
//   src:
//     url('../../fonts/pressura/light-italic/gt-pressura-light-italic-web-webfont.eot?#iefix') format('embedded-opentype'),
//     url('../../fonts/pressura/light-italic/gt-pressura-light-italic-web-webfont.woff') format('woff'),
//     url('../../fonts/pressura/light-italic/gt-pressura-light-italic-web-webfont.ttf') format('truetype'),
//     url('../../fonts/pressura/light-italic/gt-pressura-light-italic-web-webfont.svg#svgFontName') format('svg');
//   font-weight: 200;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'M';
//   src:
//     url('../../fonts/maison/bold/MaisonNeue-Bold.woff2') format('woff2'),
//     url('../../fonts/maison/bold/MaisonNeue-Bold.woff') format('woff'),
//     url('../../fonts/maison/bold/MaisonNeue-Bold.ttf') format('truetype');
//   font-weight: 900;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'M';
//   src:
//     url('../../fonts/maison/bold-italic/MaisonNeue-BoldItalic.woff2') format('woff2'),
//     url('../../fonts/maison/bold-italic/MaisonNeue-BoldItalic.woff') format('woff'),
//     url('../../fonts/maison/bold-italic/MaisonNeue-BoldItalic.ttf') format('truetype');
//   font-weight: 900;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'M';
//   src:
//     url('../../fonts/maison/demi/MaisonNeue-Demi.woff2') format('woff2'),
//     url('../../fonts/maison/demi/MaisonNeue-Demi.woff') format('woff'),
//     url('../../fonts/maison/demi/MaisonNeue-Demi.ttf') format('truetype');
//   font-weight: 700;
//   font-style: normal;
// }

@font-face {
  font-family: 'MMono';
  src:
    url('../../fonts/maison-mono/regular/MaisonNeue-Mono.woff2') format('woff2'),
    url('../../fonts/maison-mono/regular/MaisonNeue-Mono.woff') format('woff'),
    url('../../fonts/maison-mono/regular/MaisonNeue-Mono.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MMono';
  src:
    url('../../fonts/maison-mono/regular-italic/MaisonNeue-MonoItalic.woff2') format('woff2'),
    url('../../fonts/maison-mono/regular-italic/MaisonNeue-MonoItalic.woff') format('woff'),
    url('../../fonts/maison-mono/regular-italic/MaisonNeue-MonoItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
